#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.main-content {
  flex: 1;
  font-size: 120%;
}

.footer {
  font-family: 'DM Serif Text', serif;
  font-style: italic;
  text-align: center;
  color: #ccc;
  flex-direction: column;
  padding: 1rem;
}

.footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.5em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}
